<div class="row">
  <!-- Container form user -->
  <div class="col-md-3"></div>
  <div class="col-md-6 mt-4">
    <form [formGroup]="formUser">
      <fieldset>
        <!-- Título del formulario -->
        <legend class="text-center h1 mb-4">Maintenance Users</legend>
        <!-- /Título del formulario -->
        <!-- Campos ocultos -->
        <input type="hidden" formControlName="_id">
        <input type="hidden" formControlName="typeAction">
        <!-- /Campos ocultos -->
        <!-- Nombre del usuario -->
        <div class="form-group">
          <input type="text" placeholder="Name" class="form-control" formControlName="name" autofocus>
        </div>
        <!-- /Nombre del usuario -->
        <!-- Email del usuario -->
        <div class="form-group">
          <input type="email" placeholder="Email" class="form-control" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </div>
        <!-- /Email del usuario -->
        <!-- Foto del usuario -->
        <div class="form-group">
          <input type="url" placeholder="Photo" class="form-control" formControlName="photo">
        </div>
        <!-- /Foto del usuario -->
        <app-maintenance-user-form-button-save [form]="formUser" (updateListUsers)="refreshUsers($event)"></app-maintenance-user-form-button-save>
      </fieldset>
    </form>
  </div>
  <!-- /Container form user -->
  <!-- List users -->
  <div class="col-12 mt-4">
    <app-maintenance-user-list
      [users]="users"
      [form]="formUser"
      (updateListUsers)="refreshUsers($event)"
    ></app-maintenance-user-list>
  </div>
  <!-- /List users -->

</div>
