<!-- Form forgot password -->
<form>
  <fieldset>
    <!-- Título del formulario -->
    <app-authentication-title [titleForm]="'forgot password'"></app-authentication-title>
    <!-- /Título del formulario -->
    <!-- Username -->
    <app-authentication-input-username></app-authentication-input-username>
    <!-- /Username -->
    <app-authentication-button [name]="'Send email'" [routerLink]="'/forgot'"></app-authentication-button>
    <hr>
    <!-- Contenedor botones registro y cambio de contraseña -->
    <div class="text-center">
      <app-authentication-link [name]="'Login'" [routerLink]="'/login'"></app-authentication-link>
      <app-authentication-link [name]="'Register'" [routerLink]="'/register'"></app-authentication-link>
    </div>
    <!-- /Contenedor botones registro y cambio de contraseña -->
  </fieldset>
</form>
<!-- /Form forgot password -->
